---
import { getCollection, type CollectionEntry } from "astro:content";
import Header from "../../components/header.astro";
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/logo.astro";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const fonctions = await getCollection("blog");
  return fonctions.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={entry.data.title}>
  <main class="max-w-6xl mx-auto bg-base-100 relative min-h-screen">
    <Logo />
    <Header />
    <h1 class="text-2xl lg:text-5xl text-center text-aexdo font-bold my-8">
      {entry.data.title}
    </h1>
    <div class="pb-24 px-8 lg:px-16">
      {
        entry.data.image ? (
          <img src={entry.data.image} class="w-2/3 shadow mx-auto rounded-xl" />
        ) : null
      }
      <div class="prose lg:prose-xl mt-12 mx-auto">
        <Content />
      </div>
    </div>
  </main>
</Layout>
