---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import heroImage from "../assets/hero.jpg";
import BtnDemo from "../components/BtnDemo.astro";
import Section1 from "../components/section1.astro";
import Section2 from "../components/section2.astro";
import Section3 from "../components/section3.astro";
import Footer from "../components/footer.astro";
import Logo from "../components/logo.astro";
---

<Layout title="">
  <main class="max-w-6xl mx-auto relative">
    <div class="lg:grid lg:grid-cols-[auto,1fr]">
      <div
        class="absolute left-0 top-0 z-10 lg:relative lg:flex lg:flex-col lg:justify-between lg:bg-base-100"
      >
        <Logo />
        <div
          class="bg-aexdo text-aexdo-content h-36 px-8 text-6xl hidden lg:grid lg:place-items-center"
        >
          <i class="bx bx-data"></i>
        </div>
      </div>
      <div class="relative">
        <Image
          src={heroImage}
          alt="Jeune femme Zen parce qu'elle utilise AEXDO"
        />
        <div
          class="absolute bg-aexdo/70 text-aexdo-content text-xl lg:text-3xl bottom-0 left-0 w-full lg:w-2/3 h-36 pl-4 gap-4 flex items-center justify-between"
        >
          <h1>Le premier service de digitalisation des sols pollués</h1>
          <BtnDemo variant={"cta"} />
        </div>
      </div>
    </div>
    <Header absolute />
    <Section1 />
    <Section2 />
    <Section3 />
  </main>
  <Footer />
</Layout>
