---
import Header from "../components/header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import heroImage from "../assets/hero.jpg";
import logo from "../assets/logo.png";
import BtnDemo from "../components/BtnDemo.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-6xl mx-auto relative">
    <div class="grid grid-cols-[auto,1fr]">
      <div class="flex flex-col justify-between bg-white">
        <Image src={logo} width={120} alt="Logo AEXDO" class="p-4" />
        <div
          class="bg-aexdo text-white h-36 px-8 text-6xl grid place-items-center"
        >
          <i class="bx bx-data"></i>
        </div>
      </div>
      <div class="relative">
        <Image
          src={heroImage}
          alt="Jeune femme Zen parce qu'elle utilise AEXDO"
        />
        <div
          class="absolute bg-aexdo/50 text-white text-3xl bottom-0 left-0 w-1/2 h-36 pl-4 pr-8 flex items-center"
        >
          <h1>Le premier service de digitalisation des sols pollués</h1>
          <BtnDemo variant={"cta"} />
        </div>
      </div>
    </div>
    <Header />
  </main>
</Layout>
