---
const label = "Demander une démonstration";
interface Props {
  variant: "menu" | "cta";
}

const { variant } = Astro.props;
---

<a
  href="/contact"
  class={`bg-white text-gray-900 grid place-items-center text-center font-semibold px-4 py-2 ${
    variant === "menu"
      ? ""
      : "absolute right-0 bottom-0 w-48 text-base leading-none"
  }`}
>
  {label}
</a>
