---
import type { TMenu } from "../types";

interface Props {
  menu: TMenu;
}

const { menu } = Astro.props;
let menuVisible = false;
---

<div
  class="flex items-center justify-between transition-transform duration-200 px-4"
>
  <span class="mr-auto">
    {menu.label}
  </span>
  {
    menu?.options ? (
      <i
        class={`bx bx-chevron-down ${menuVisible ? "rotate-180" : "rotate-0"}`}
      />
    ) : null
  }
</div>
